<nav>
  <ul class="breadcrumb">
    <li><a href="/home">Home</a></li>
    <li><a href="/games">Games</a></li>
    <li><a href="/add">Add new game</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>
