<!DOCTYPE html>
<html>
  <head>
    <title>404 - Release Radar</title>
    <% include partials/headIncludes.ejs %>
  </head>
  <body>
      <h1>404, oh boi!</h1>
      <p>We have nothing to show you at this address...</p>
    <% include partials/footer.ejs %>
  </body>
</html>
