<!DOCTYPE html>
<html>
  <head>
    <title>About - Release Radar</title>
    <% include partials/headIncludes.ejs %>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Learn about <strong>Release Radar</strong></h1>
    <h2>Creators:</h2>
    <ul>
        <li>Wojciech Handke</li>
        <li>Adrianna Nowicka</li>
    </ul>
    <h2>Technologies:</h2>
    <ul>
        <li>Node.js</li>
        <li>Express</li>
        <li>HTML5</li>
        <li>CSS</li>
        <li>JavaScript</li>
    </ul>
    <% include partials/footer.ejs %>
  </body>

</html>
