<!DOCTYPE html>
<html>
  <head>
    <title>Contact - Release Radar</title>
    <% include partials/headIncludes.ejs %>
  </head>
  <body>
    <% include partials/nav.ejs %>
      <h1>Contact us!</h1>
      <p>E-mail: help@releaseradar.com</p>
    <% include partials/footer.ejs %>
  </body>

</html>
