<!DOCTYPE html>
<html>
  <head>
    <title>Release Radar</title>
    <% include partials/headIncludes.ejs %>
  </head>
  <body>
    <% include partials/nav.ejs %>


      <h1>Release Radar</h1>
      <p>Best site to keep track of game releases!</p>

      <div class="search-container">
        <form action="/games">
          <input type="text" placeholder="Search.." name="search">
        </form>
      </div>

    <% include partials/footer.ejs %>
  </body>

</html>
