<!DOCTYPE html>
<html>
  <head>
    <%- include partials/headIncludes.ejs %>
    <%- include partials/chart.ejs %>
    <title>-MEC-</title>    
  </head>
  <body>
      <div id="title">
          <h1 class="centered">
              - MONITOR&ensp;ERGONOMII&ensp;CIEPLNEJ -
          </h1>
      </div>
      <div id="main" class="row">
          <div class="half">
              <div class="background full">
                  <div class="row full">
                      <div id="red" class="full centered">
                          <div id="redText" class="temp">
                              Red:
                          </div>
                      </div>
                      <div id="gold" class="full centered">
                            <div id="goldText" class="temp">
                                Gold:
                            </div>
                      </div>
                  </div>
                  <div class="row full">
                        <div id="green" class="full centered">
                            <div id="greenText" class="temp">
                                Green:
                            </div>
                        </div>
                        <div id="yellow" class="full centered">
                            <div id="yellowText" class="temp">
                                Yellow:
                            </div>
                        </div>
                    </div>
              </div>
          </div>
          <div class="half">
                <canvas id="myChart"></canvas>
          </div>
      </div>
  </body>
  <footer class="footer">
      <p>
          MEC v1.0 /&emsp;/ Styczeń 2019 /&emsp;/ PUT
      </p>
  </footer>
</html>
