<!DOCTYPE html>
<html>
  <head>
    <%- include partials/headIncludes.ejs %>
    <%- include partials/chart.ejs %>
    <title>SW - Temps</title>    
  </head>
  <body>
      <div class="row">
          <div class="half">
              <div class="background full">
                  <div class="row full">
                      <div id="red" class="full centered">
                          <div id="redText" class="temp">
                              -
                          </div>
                      </div>
                      <div id="gold" class="full centered">
                            <div id="goldText" class="temp">
                                -
                            </div>
                      </div>
                  </div>
                  <div class="row full">
                        <div id="green" class="full centered">
                            <div id="greenText" class="temp">
                                -
                            </div>
                        </div>
                        <div id="yellow" class="full centered">
                            <div id="yellowText" class="temp">
                                -
                            </div>
                        </div>
                    </div>
              </div>
          </div>
          <div class="half">
                <canvas id="myChart"></canvas>
          </div>
      </div>
  </body>
</html>
